section.shoe-slider{
    border-left: 3px solid $blue;
    padding-left: 15px;
    box-sizing: border-box;
    width: 100%;
    
    p.shoe-slider__name{
        margin-bottom: 10px;
    }

    div.shoe-slider__container{
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        position: relative;
        padding-bottom: 10px;

        /* Scrollbar styles */
        &::-webkit-scrollbar {
            width: 6px;
            height: 6px;
        }
            
        &::-webkit-scrollbar-track {
            background: #f5f5f5;
            border-radius: 10px;
        }
            
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background: #ccc;  
        }
            
        &::-webkit-scrollbar-thumb:hover {
            background: #999;  
        }

        div.shoe-slider__item{
            display: inline-block;
            vertical-align: top;
            max-width: 240px;

            &:not(:last-child){
                margin-right: 15px;
                border-right: 1px solid #EEEEEE;
            }

            p.shoe-slider__item__name{
                // margin-bottom: 10px;
                max-width: 200px;
                white-space: normal !important;
                height: 35px;
            }

            p.shoe-slider__item__sku{
                margin-bottom: 10px;
            }

            div.shoe_slider__item__container{
                display: flex;
                .image{
                    flex: 1;
                    display: flex;
                    align-content: flex-end;
                    align-items: flex-end;
                    min-height: 80px;

                    img{
                        width: 100%;
                        max-width: 300px;
                    }
                }
                .buy{
                    flex: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

            }
            
        }
    }
}